.container{
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0;
}

.header{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.main{
    padding: 20px;
}

.gallery{
    padding: 0;
}